@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Yİğİt Yalçın</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/vesikalik.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Hakkında</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyİm</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Eğİtİm</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Teknİk Becerİler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Hobİler</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projelerİm</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Yİğİt
                    <span class="text-primary">Yalçın</span>
                </h1>
                <div class="subheading mb-5">
                    Mersİn · Türkİye ·
                    <a class="subheadinglower" href="mailto:yigit.yalciin@gmail.com">yigit.yalciin@gmail.com</a>
                </div>
                <p class="lead mb-5">
                    Merhaba, ben Yiğit Yalçın. Doğu Akdeniz Üniversitesi Bilgisayar Mühendisliği Bölümü'nden mezun oldum. Eğitimim sırasında çeşitli web ve masaüstü projeleri geliştirerek değerli deneyimler kazandım. Mezuniyet sonrası serbest çalışarak kendi projelerimi yayımladım. Nesne yönelimli programlama ve full-stack web geliştirmeyi yenilikçi teknolojik çözümlerle birleştirme tutkusuyla yazılım geliştirici olarak kariyerimde ilerlemeyi hedefliyorum.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/yigityalciin/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/yigityalcin" target="_blank"><i class="fab fa-github"></i></a>
                    @*                     <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                    *@
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Deneyİm</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Freelance (Serbest Çalışan)</h3>
                        <div class="subheading mb-3">Oz&Partnerler Hukuk</div>
                        <ul>
                            <li>
                                Hukuk profesyonellerinin hizmetlerini sergileyen ve etkili müşteri etkileşimini kolaylaştıran bir web sitesi geliştirdim.
                            </li>
                            <li>
                                SEO teknikleri ve sosyal medya stratejilerini güçlendirerek şirketin dijital varlığını önemli ölçüde artırdım.
                            </li>
                        </ul>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Şub 2024 - Şub 2024</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Yazılım Geliştirici Stajyeri</h3>
                        <div class="subheading mb-3">Creamobile Bİlİşİm Teknolojİlerİ Ltd. Şti.  </div>
                        <ul>
                            <li>
                                Stajyer olarak C#, ASP.NET MVC Mimarisi, GitHub, MSSQL ve Bootstrap kullanarak çeşitli web projeleri geliştirdim ve şirket içindeki çeşitli projelere aktif olarak katkıda bulundum.
                            </li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Haz 2023 - Eyl 2023</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Stajyer</h3>
                        <div class="subheading mb-3">Yapı Kredİ</div>
                        <p>
                            Uzmanlarla yapılan toplantılar aracılığıyla departmanlar ve süreçler hakkında eğitim aldım.
                        </p>
                        <p>
                            • Yeterlilikler: Yazılım, Bankacılık, Veri Hikayeciliği, Veri Görselleştirme, Davranışsal Finans, Finans, Finansal Analiz, Metaverse
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Tem 2022 - Ağu 2022</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />

        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Eğİtİm</h2>
                @* <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                <h3 class="mb-0">Anadolu Ünİversİtesİ</h3>
                <div class="subheading mb-3">İşletme Yönetimi</div>
                @* <div>Computer Science - Web Development Track</div>
                <p>GPA: 3.23</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Sep 2022 - Present </span></div>
                </div> *@
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Doğu Akdenİz Ünİversİtesİ</h3>
                        <div class="subheading mb-3">Bilgisayar Mühendisliği (İngİlİzce)</div>
                        <p>
                            Mezun  •  CGPA: 2.68 / 4.00  •  100% Burslu
                        </p>
                        <p>
                            Accreditation Board for Engineering and Technology (ABET) tarafından akredite edilmiştir (abet.org).
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Eyl 2018 - Tem 2023</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />

        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Teknİk Becerİler</h2>
                <div class="subheading mb-3">Programlama Dİllerİ & Araçları</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-python"></i></li>
                    <li class="list-inline-item"><i class="fab fa-git"></i></li>
                    <li class="list-inline-item"><i class="fab fa-github"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                </ul>
                <ul class="skills-list">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        C# •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Angular •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        ASP.NET MVC •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Bootstrap •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        HTML •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        CSS •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Javascript •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Python •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Git •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        OOP •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        ORM •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        MSSQL •
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        MYSQL
                    </li>
                </ul>
                @* <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
                </li>
                <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
                </li>
                <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Full Stack Development
                </li>
                <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
                </li>
                </ul> *@
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Hobİler</h2>
                <p>Bir web geliştiricisi olmanın yanı sıra, zamanımın çoğunu basketbol, futbol, tenis gibi sportif aktivitelerle geçirmeyi seviyorum. </p>
                <p class="mb-0">Onun dışındaki zamanında, yemek yapmaktan, müzikle ilgilenmekten, dizi serilerini izlemekten, araştırma yapmaktan ve teknolojiyi takip etmekten keyif alan, keşfetmeyi seven bir yazılımcıyım.
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Projelerİm</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/MaskTracking" target="_blank">Mask Distribution Tracking System</a>
                        <a href="https://github.com/yigityalcin/MaskTracking" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/Enterprise-Architecture-MVC-Bootcamp-Project" target="_blank">N Tier Architecture MVC Angular Bootcamp Project</a>
                        <a href="https://github.com/yigityalcin/Enterprise-Architecture-MVC-Bootcamp-Project" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/Ne-Izlesek-Web-App" target="_blank">Ne Izlesek Film and TV Series Discovery Platform</a>
                        <a href="https://github.com/yigityalcin/Ne-Izlesek-Web-App" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/Phone-Directory-MVC" target="_blank">Phone Directory MVC Intern Project</a>
                        <a href="https://github.com/yigityalcin/Phone-Directory-MVC" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/TT-Portfolio" target="_blank">Architecture Blog and Portfolio Website</a>
                        <a href="https://github.com/yigityalcin/TT-Portfolio" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://ozpartnershukuk.com/" target="_blank">Responsive Lawyer Website</a>
                        <a href="https://ozpartnershukuk.com/" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://github.com/yigityalcin/Live-Stock-Market-Tracking-Desktop-App" target="_blank">Live Stock Market Tracking Desktop App</a>
                        <a href="https://github.com/yigityalcin/Live-Stock-Market-Tracking-Desktop-App" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-laptop-code text-warning"></i></span>
                        <a href="https://drive.google.com/drive/u/1/folders/1tS0dqcPLLIhq6UYmjQfP9fZWS52vVP4o" target="_blank">Graduation Project: Job Board</a>
                        <a href="https://drive.google.com/drive/u/1/folders/1tS0dqcPLLIhq6UYmjQfP9fZWS52vVP4o" target="_blank"><i class="fas fa-link text-warning"></i></a>
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
